<div>
  <h1>Inscription</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1>Fournisseur</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
          <a routerLink="/provider/signup" class="btn btn-primary" name="button">S'inscrire</a>
          <br><br>
          <p>Vous avez déjà un compte? <a routerLink="/provider/login">Se connecter</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1>Restaurant</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
          <a routerLink="/restaurant/signup" class="btn btn-primary" name="button">S'inscrire</a>
          <br><br>
          <p>Vous avez déjà un compte? <a routerLink="/restaurant/login">Se connecter</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
