<dashboard-title icon="ti ti-user" [title]="title"></dashboard-title>

<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <button (click)="new()" type="button" class="btn btn-primary btn-new"><i class="ti ti-plus"></i> Creer</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Vendeur</th>
                    <th>Pays </th>
                    <th>Region </th>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                  </tr>
                </thead>
                <tbody *ngIf="sellers && sellers.length != 0">
                  <tr *ngFor="let seller of sellers">
                    <td><a [routerLink]="'/admin/sellers/' + seller._id" class="" name="button"> <strong>{{seller.name}}</strong></a></td>
                    <td>{{seller.country}}</td>
                    <td>{{seller.state}}</td>
                    <td>{{seller.city}}</td>
                    <td>{{seller.postalCode}}</td>
                    <td>{{seller.email}}</td>
                    <td>{{seller.tel}}</td>
                    <td class="td-actions">
                      <a [routerLink]="'/admin/sellers/' + seller._id" class="btn btn-info btn-option" name="button"> <i class="ti ti-eye"></i></a>
                      <button type="button" class="btn btn-danger btn-option" name="button" (click)="delete(seller)">
                        <i class="ti ti-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"><strong>Nombre de Vendeurs : {{sellers.length}}</strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<new-seller-modal (onNew)="onNew($event)"></new-seller-modal>
