<div *ngIf="!success" class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert" style="position: relative; width: auto">
            <strong>{{errMsg}}</strong>
          </div>
          <div class="auth-form-light text-left p-5">
            <div class="">
              <p style="border-left: 3px #ddd solid;" class="pl-2">Mot de passe oublié</p>
            </div>
            <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="email"
                  [ngClass]="{'is-invalid': f.email.invalid && f.email.touched && f.email.errors.required}"
                  class="form-control form-control-lg" placeholder="Votre adresse email" formControlName="email">
                  <div class="invalid-feedback">
                     Email obligatoire
                   </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="tn btn-block btn btn-primary" [disabled]="loading">Envoyer l'email
                  <i *ngIf="loading" class="fa fa-spinner fa-spin" style="font-size:24px"></i></button>
              </div>
              <div class="text-center mt-4 font-weight-light">
                <a routerLink="/auth/login" class="text-primary">Connexion</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="success" class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <h3>Un email contenant le lien pour changer votre mot de passe vous à etez envoyer.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
