<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Tableau de bord</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet"><i class="icon-user"></i></div>
          <div class="title"><span>Fournisseurs</span>
          </div>
          <div class="number"><strong>6</strong></div>
        </div>
      </div>

      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-red"><i class="icon-padnote"></i></div>
          <div class="title"><span>Commandes</span>
          </div>
          <div class="number"><strong>5</strong></div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="icon-bill"></i></div>
          <div class="title"><span>Factures</span>
          </div>
          <div class="number"><strong>2</strong></div>
        </div>
      </div>
    </div>
  </div>
</section>
