<div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1>Connexion</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
          <a routerLink="/connexion" class="btn btn-primary" name="button">Connexion</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1>Inscription</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
          <a routerLink="/inscription" class="btn btn-primary" name="button">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</div>
