section.dashboard-counts .number strong {
  color: #6783b8;
}

.bg-primary {
  background-color: #0000FF!important;
  color: #fff;
}
.bg-secondary {
  background-color: #162b4d!important;
  color: #fff;
}
.bg-green {
  background-color: #4fb54b!important;
  color: #fff;
}
